body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #f2f7fd; /* Light blue background */
}

hr {
    width: 500px;
}

#refreshBtn{
    padding: 5px 10px;
    background-color: #4b629f;
    color:white;
}

#board {
    width: 380px;
    height: 380px;
    background-color: #f5f5f5; /* Light blue-gray background */
    /* border: 2px solid #9eb1b8; */
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.tile {
    width: 80px;
    height: 80px;
    border: 3px solid #8b9eb3; /* Light blue-gray border */
    font-size: 42px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* colored tiles */

.score2 {
    background-color: #cadef4; /* Lightest blue */
    color: #5e5e5e;
}

.score4 {
    background-color: #96bce7;
    color: #5e5e5e;
}

.score8 {
    background-color: #6e9dd7;
    color: white;
}

.score16 {
    background-color: #517ec6;
    color: white;
}

.score32 {
    background-color: #355daf;
    color: white;
}

.score64 {
    background-color: #2a4f99;
    color: white;
}

.score128 {
    background-color: #1e3981;
    color: white;
}

.score256 {
    background-color: #133068;
    color: white;
}

.score512 {
    background-color: #092153;
    color: white;
}

.score1024 {
    background-color: #04163e;
    color: white;
}

.score2048 {
    background-color: #010e26;
    color: white;
}

.score4096 {
    background-color: #000c1f; /* Darkest blue */
    color: white;
}

.score8192 {
    background-color: #00081b;
    color: white;
}
